a{
    color: wheat;
    font-size: 20px;
}
body{
    background-image: url(srija.jpg);
}
form{
    margin-left: 10px;
    margin-top: 50px;
    border-radius: 10px;
    background: radial-gradient(grey,white);
}
label{
    color: red;
    font-size: 20px;
    font-weight: bold;
}
button{
    height: 40px;
    width: 120px;
    border-radius: 30px;
    background-color: white;
}